<section>
  <h3>About Digital Filipino Frontier</h3>
  <p>
    Welcome to the Digital Filipino Frontier, a vibrant digital museum dedicated
    to exploring the rich tapestry of Philippine popular culture. Our exhibits
    take you on a journey through three significant periods: the lively years of
    2000 to 2010, the dynamic present decade, and the hopeful future of 2030.
    ​Our mission focuses on promoting learning and awareness of Philippine
    culture through various lenses, including political, cultural, economic,
    technological/legal, environmental, and social aspects.​
  </p>
  <p>
    The Digital Filipino Frontier is a platform that explores the transformative
    power of culture in shaping Filipino identity. It aims to foster a deeper
    understanding of the Filipino experience by examining how popular culture
    interacts with political realities, economic development, and technological
    advancements. The platform highlights how popular culture influences civic
    engagement and activism, with protest songs and cultural movements from the
    early 2000s resonating with today's political climate. The economic
    dimension of culture is also explored, with popular culture serving as both
    a product and a catalyst for growth, with the creative economy flourishing
    and shaping consumer culture in the Philippines. The museum also highlights
    the rise of digital media and its implications for cultural expression and
    legal protections. It explores regulations that shape artistic freedom and
    celebrates innovations that empower artists to reach wider audiences.
  </p>
  <p>
    In addition to our digital exhibits, our commitment to scientific discovery,
    environmental awareness, equality, and diversity is echoed in our blog. We
    publish articles that engage with current cultural discussions, explore
    historical contexts, and highlight initiatives aimed at improving social
    conditions. Through these written works, we strive to inspire action and
    cultivate meaningful dialogue within our communities.
  </p>
  <p>
    We invite you to embark on this enriching journey through the Digital
    Filipino Frontier. As you navigate our diverse exhibitions, participate in
    engaging discussions, and connect with fellow cultural enthusiasts, you will
    discover that our museum is more than just a collection of artifacts; it is
    a vibrant space for learning, reflection, and action. We empower individuals
    to cherish and promote the Philippines’ vibrant cultural heritage as we look
    toward the future.
  </p>
  <p>
    Join us in safeguarding our past, celebrating our present, and shaping our
    future. Experience the essence of Filipino culture at the Digital Filipino
    Frontier.
  </p>
  <p>
    Digital Filipino Frontier is a project created by <a
      href="https://github.com/arnelimperial/digital-filipino-frontier"
      >Arnel Imperial</a
    > for the course in Philippine Popular Culture Term 1 A1102 S.Y. 2024-2025 at
    Mapua Malayan Digital College.
  </p>
</section>
<section class="split">
  <section>
    <div class="contact-method">
      <span class="icon solid alt fa-envelope"></span>
      <h3>Email</h3>
      <a href="https://github.com/arnelimperial/digital-filipino-frontier"
        >information@dff.tld</a
      >
    </div>
  </section>
  <section>
    <div class="contact-method">
      <span class="icon solid alt fa-phone"></span>
      <h3>Phone</h3>
      <span>(000) 000-0000 x12387</span>
    </div>
  </section>
  <section>
    <div class="contact-method">
      <span class="icon solid alt fa-home"></span>
      <h3>Address</h3>
      <span
        >45B Bonifacio Avenue<br />
        Taguig City 1634<br />
        National Capital Region, Philippines</span
      >
    </div>
  </section>
</section>
