---
import Libero from "./Libero.astro"
---

<section id="banner" class="style3">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/555526d6-773e-452e-9137-bf4adb41c11d/a4efedca-8dec-45bf-a4ed-4df9fe234c37.png" alt="" />
        </span>
        <header class="major">
            <h1>Cultural</h1>
        </header>
        <div class="content">
            <p>Philippine Popular Culture (PPC) is a vibrant tapestry of traditional and modern influences, reflecting the country's rich history, diverse traditions, and societal changes. It encompasses various forms of media, including music, film, television, and social media, and is deeply rooted in Filipino values and identity.</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Cultural Expression</h2>
                </header>
                <p>Philippine Popular Culture (PPC) is a dynamic and multifaceted phenomenon that has evolved over the years, blending traditional elements with contemporary influences. At its core, PPC is a reflection of the Filipino people's creativity, resilience, and adaptability. It is shaped by the country's history of colonization, its diverse ethnic groups, and its unique cultural heritage. PPC is not just about entertainment; it is a means of expressing identity, addressing social issues, and fostering a sense of community. The norms and values embedded in PPC emphasize family, respect for elders, and a strong sense of nationalism. The situation of PPC is continually evolving, influenced by global trends, technological advancements, and the ever-changing social landscape. Despite these changes, the essence of PPC remains deeply rooted in Filipino culture, making it a powerful force in shaping the nation's identity.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="#" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/63198257-25a3-44f8-87d0-92c3637f3a23/9debe60a-1f1a-4a91-bc58-d46a2bcc84bc.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Key Events & Highlights</h3>
                        </header>
                        <p><strong>Past:</strong> Bayanihan Philippine National Folk Dance Company (2000-2010): This iconic group, active during this period, represented traditional Philippine music and dance on international stages. Their performance styles included classical folk dances like Tinikling and Singkil, integrating storytelling through movement and live musical accompaniment, effectively preserving and popularizing Filipino culture.</p>
                        <p>
                            <strong>Present:</strong> ManilART 2024: This yearly art fair, recognized as the longest-running visual arts event in the Philippines, continues to celebrate contemporary Filipino art. The 2024 theme, "Prisms & Mosaics," emphasizes the diverse aspects of Filipino artistic expression and examines the relationship between technology and human creativity.
                        </p>
                        <p>
                            <strong>Future:</strong> Filmmakers, musicians, and artists from the Filipino diaspora will showcase their works, further creating a global platform for Filipino culture,
                        </p>
                        
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social/status" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/750a512c-a765-4ebd-9ed3-759ff429d60e/16711136-9aa0-4d07-8bc7-9c5506be9907.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Status & Developments</h3>
                        </header>
                        <ul>
                            <p>Technology</p>
                            <li>Past: The rise of Filipino Pop (Flip-Top) music in the late 2000s marks a significant cultural change. Styles like Pinoy rock and hip-hop developed by blending traditional aspects with modern ideas. Popular artists and bands, such as Parokya Ni Edgar, resonated with Filipino youth, reflecting their lives and dreams. This movement highlights the mix of local traditions with global trends, demonstrating the vibrant character of Filipino art and identity.</li>
                            <li>Present: Filipino content creators are gaining worldwide attention on platforms like YouTube and TikTok. This trend highlights how local talents can reach global audiences and shows the power of digital platforms in sharing cultural expressions. It plays an important role in shaping the identity and community of Filipinos around the world.
                            </li>
                            <li>Future: Cultural institutions may adopt virtual reality to create immersive experiences that educate audiences about Philippine history and culture, making it accessible worldwide.</li>
                        </ul>
                        <ul>
                            <p>Space</p>
                            <li>Past: Cultural festivals such as Sinulog and Ati-Atihan became important for celebrating local identities and strengthening community bonds. In the early 2000s, there were efforts to restore heritage sites, and discussions about preserving culture started to grow.</li>
                            <li>Present: Cultural festivals such as Sinulog and Ati-Atihan became important for celebrating local identities and strengthening community bonds. In the early 2000s, there were efforts to restore heritage sites, and discussions about preserving culture started to grow.</li>
                            <li>Future: Space technology could be employed for preserving cultural heritage sites through satellite imagery and mapping, aiding conservation efforts against climate change impacts.</li>
                        </ul>
                        <ul>
                            <p>Globalization</p>
                            <li>Past: The impact of Western pop culture was notable, resulting in the emergence of mixed music styles like Pinoy rock and pop, which combined local and Western elements. This cultural mix was clear in the success of bands and artists who used English lyrics, appealing to a worldwide audience.</li>
                            <li>Present: At the same time, there was a growing appreciation for native culture and local traditions, partly as a reaction to the strong presence of global pop culture. Artists started to weave traditional aspects into their creations, fostering a sense of national pride and cultural identity.</li>
                            <li>Future: There will likely be an increase in cross-cultural collaborations that blend Filipino culture with global influences, leading to innovative artistic expressions.</li>
                        </ul>
                        <ul class="actions">
                            <li><a href="/technology" class="button">Technology</a></li>
                            <li><a href="/space" class="button">Space</a></li>
                            <li><a href="/globalization" class="button">Globalization</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social/trends" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/692ea1db-3c15-483a-b1aa-173d9fe0b7a6/ec200d09-ea42-4342-9e57-57a7b8aa4703.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Observable Trends</h3>
                        </header>
                        <p><strong>Past:</strong> From 2000 to 2010, the Philippines experienced a cultural renaissance, with traditional dances preserved and promoted by the Bayanihan Philippine National Folk Dance Company. Filipino Pop music, blending traditional and modern elements, gained popularity, and cultural festivals strengthened local identities. Western pop culture influenced hybrid music styles.</p>
                        <p>
                            <strong>Present:</strong> ManilART 2024, the longest-running visual arts event in the Philippines, celebrates contemporary Filipino art with the theme "Prisms & Mosaics." The event highlights local talent's global reach, heritage conservation, and appreciation for native culture, countering global pop culture and fostering national pride and cultural identity.
                        </p>
                        <p>
                            <strong>Future:</strong> There will likely be a resurgence in movements aimed at reclaiming and promoting indigenous cultures and languages as integral parts of national identity.
                        </p>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>