---
import Libero from "./Libero.astro"
---


<section id="banner" class="style4">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/d1e13956-c477-42b2-9564-aed146692407/1291791c-9b11-4919-815f-ee8e311c9a89.png" alt="" />
        </span>
        <header class="major">
            <h1>Economic</h1>
        </header>
        <div class="content">
            <p>From an economic perspective, PPC encompasses a wide range of cultural outputs such as music, film, television, fashion, and digital content that resonate with the Filipino populace.</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Economic Shift</h2>
                </header>
                <p>Philippine Popular Culture encompasses various cultural outputs like music, film, television, fashion, and digital content. Its evolution can be traced through key phases, including the 2000-2010 Era, where the rise of cable television and the internet reshaped media consumption. The COVID-19 pandemic accelerated digital transformation, leading to increased investments in content creation and distribution channels. In the future, PPC is expected to integrate with global trends, particularly in augmented and virtual reality, leading to new business models and collaborations between local artists and international platforms.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="#" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/5d8936a4-4440-44fa-be00-e4b0e7209ebc/6f3ea0f8-89cd-446b-957d-4b1ddaff1e76.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Key Events & Highlights</h3>
                        </header>
                        <p><strong>Past:</strong> The 2008 Global Financial Crisis greatly affected the Philippine economy. It caused growth to slow down and unemployment to rise. In response, the government took steps to stabilize the economy and help struggling industries.</p>
                        <p>
                            <strong>Present:</strong> Economic Recovery After COVID-19: The Philippines is focused on bouncing back from the economic effects of the COVID-19 pandemic. This includes supporting local businesses, increasing job opportunities, and drawing in foreign investments.
                        </p>
                        <p>
                            <strong>Future:</strong> Digital Media Explosion: The influence of social media and digital platforms will further shape popular culture, with more Filipino artists and influencers gaining international recognition.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/b3efaf0d-e22a-4bf5-8762-d8422ac6265b/42949dd4-4f30-4889-8349-c13d2840d344.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Status & Developments</h3>
                        </header>
                        <ul>
                            <p>Technology</p>
                            <li>Past: The rise of Business Process Outsourcing (BPO) started in the early 2000s, with significant growth around 2004. The Philippines emerged as a top player in BPO because of its skilled English-speaking workers and affordable wages. This growth greatly improved the economy and created millions of jobs, changing the employment scene. The growth of internet services was key to supporting this industry.</li>
                            <li>Present: The growth of e-commerce sped up in 2020 because of pandemic restrictions. Websites like Lazada and Shopee became very popular as people started shopping online for necessary items. This change in the economy made shopping easier and helped local businesses grow by moving to online markets.</li>
                            <li>Future: The digital economy will continue to grow, with more Filipinos engaging in online businesses and e-commerce.</li>
                        </ul>
                        <ul>
                            <p>Space</p>
                            <li>Past: Urban growth brought economic benefits and more commercial spaces, especially with the opening of big malls like SM Mall of Asia in 2006. While this changed how people interacted socially, it also raised worries about its effects on local businesses and the informal economy.</li>
                            <li>Present: The growing BPO sector spurred quick urban growth, resulting in mixed-use areas that included homes, shops, and leisure spots. This change brought up new economic issues regarding inclusivity and how sustainable these urban areas are.</li>
                            <li>Future: The Philippines may see significant investments in its space industry, potentially leading to advancements in satellite technology and space exploration.</li>
                        </ul>
                        <ul>
                            <p>Globalization</p>
                            <li>Past: The global spread of media has led to an increased demand for local entertainment. The success of Philippine films at international festivals has pushed the industry to adopt a more global view, resulting in partnerships with foreign filmmakers and a larger local audience. </li>
                            <li>Present: The local entertainment sector has grown greatly, especially with the arrival of streaming services like Netflix and iFlix, which offer platforms for Filipino content. This development has opened up new economic chances for local filmmakers and artists, while also promoting the creation of high-quality content that can stand out globally.</li>
                            <li>Future: The Philippines is likely to benefit from increased global trade, with more international partnerships and investments.</li>
                        </ul>
                        <ul class="actions">
                            <li><a href="/technology" class="button">Technology</a></li>
                            <li><a href="/space" class="button">Space</a></li>
                            <li><a href="/globalization" class="button">Globalization</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/6007e488-f798-4032-af64-f428788d5161/a62d8f24-0ce6-4a61-bb41-5d504b08fea1.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Observable Trends</h3>
                        </header>
                        <p><strong>Past:</strong> The 2008 Global Financial Crisis slowed Philippine economic growth and increased unemployment, prompting government stabilization. BPO sector growth, urban development, and global media exposure boosted employment and the economy, while also raising concerns for local businesses.</p>
                        <p>
                            <strong>Present:</strong> The Philippines is recovering economically post-COVID-19 by supporting local businesses, increasing job opportunities, and attracting foreign investments. E-commerce surged in 2020, BPO sector grew, urban development shifted, and entertainment industry flourished with streaming services.
                        </p>
                        <p>
                            <strong>Future:</strong> The 2008 Global Financial Crisis and post-COVID-19 era have influenced Philippine popular culture, economic shifts, urban development, and entertainment industry growth, bolstering employment and global competitiveness.
                        </p>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>