---
import Libero from "./Libero.astro"
---

<section id="banner" class="style6">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/3971bdab-73c4-4782-a378-112a2ca6cdb7/11829f63-2850-49a2-b346-9a4084b5b623.png" alt="" />
        </span>
        <header class="major">
            <h1>Observable Trends</h1>
        </header>
        <div class="content">
            <p>Environmental</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Philippine popular culture has embraced environmentalism, promoting a growing ecological consciousness. Each Earth Day, communities plant trees, clean coastlines, and launch campaigns. Hashtags like #SaveOurPlanetPH and #EcoWarriorsPH mobilize the masses. Environmental documentaries and schools integrate sustainability into their curriculums, nurturing eco-warriors.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/5926e433-cc28-430c-87f3-5e20e2abf566/7a7adcdc-fa07-413c-8b7c-a747eefbd6d5.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Ketsana</h3>
                        </header>
                        <p>Typhoon Ketsana in 2009 highlighted the Philippines' need for disaster preparedness, leading to the Clean Air Act of 1999 and environmental concerns like eco-tourism. This led to increased awareness in popular culture and filmmakers incorporating eco-friendly narratives.
                        </p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Past (2000-2010)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/da03d5e5-44fc-4330-8603-37624bcc7451/f39534d3-ea49-42a0-b55d-2b0178fb08bf.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Environmental Challenges</h3>
                        </header>
                        <p>The Philippines is facing environmental challenges like air and ocean pollution, causing increased awareness and action on climate change. Community commitment to environmental protection has strengthened, with increased coastal clean-ups and social media campaigns. The National Greening Program and eco-tourism have boosted local economies.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Present (2020-2024)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/da619cbf-5aef-4388-80eb-a61d3c454735/fc176f4e-3f65-4947-ab40-aeca765b57c4.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Continuous Effects of the Past</h3>
                        </header>
                        <p>The Typhoon Ketsana disaster and ongoing environmental issues have accelerated a cultural shift towards eco-friendly narratives and sustainable practices in the Philippines.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Future (2030)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>