---
import Libero from "./Libero.astro"
---

<section id="banner" class="style6">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/4e600a82-8aac-4abb-95cd-f87cc9125a0f/4109a030-24fe-4481-80ce-9e3ca566c441.png" alt="" />
        </span>
        <header class="major">
            <h1>Status & Development</h1>
        </header>
        <div class="content">
            <p>Environmental</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Philippine popular culture has embraced environmentalism, promoting a growing ecological consciousness. Each Earth Day, communities plant trees, clean coastlines, and launch campaigns. Hashtags like #SaveOurPlanetPH and #EcoWarriorsPH mobilize the masses. Environmental documentaries and schools integrate sustainability into their curriculums, nurturing eco-warriors.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/5f14505b-6617-480f-bca7-2b21c4317afd/2d1e77d5-012b-4913-9322-3a6b41cc4130.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Sustainable Practices</h3>
                        </header>
                        <p>Sustainable practices are gaining momentum, especially in climate change awareness, with campaigns using social media and digital platforms promoting environmental conservation and sustainable living.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Present (2020-2024) | Technology</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/03847f1a-78c0-41e3-a80d-d06ec54dc1e4/025b0466-0e58-4f81-bc94-2facd5440d25.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>National Land Use Act</h3>
                        </header>
                        <p>The conversation in politics moved towards stronger urban planning and land use strategies. The 2011 National Land Use Act sought to create a complete plan for managing land, stressing the importance of sustainable development in the face of urban growth.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Present (2020-2024) | Space</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/647416f7-1cf9-45ed-a6c4-ede23d5357e3/6c1b8c5c-8ff6-4e6f-8022-cf84f0730e43.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Global Partnership</h3>
                        </header>
                        <p>The Philippines will likely engage in collaborative efforts with international organizations to address climate change, promoting exchanges of technology and resources for environmental sustainability.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Future (2030) | Globalization</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
               <Libero />
            </div>
        </section>

</div>

