---
import Libero from "./Libero.astro"
---

<section id="banner" class="style6">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/dd275e3b-37b7-4f97-a372-81a6062de63e/afe506e2-7c54-4e0f-9698-555ed6b1216e.png" alt="" />
        </span>
        <header class="major">
            <h1>Key Events & Highlights</h1>
        </header>
        <div class="content">
            <p>Environmental</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Philippine popular culture has embraced environmentalism, promoting a growing ecological consciousness. Each Earth Day, communities plant trees, clean coastlines, and launch campaigns. Hashtags like #SaveOurPlanetPH and #EcoWarriorsPH mobilize the masses. Environmental documentaries and schools integrate sustainability into their curriculums, nurturing eco-warriors.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/5926e433-cc28-430c-87f3-5e20e2abf566/7a7adcdc-fa07-413c-8b7c-a747eefbd6d5.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Ketsana</h3>
                        </header>
                        <p>Typhoon Ketsana (Ondoy) in 2009: This powerful typhoon led to major flooding in Metro Manila and nearby regions, causing a great loss of life and damage to property. It showed the urgent need for improved disaster readiness and response systems in the country.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Past (2000-2010)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/7eed4ee9-5a9c-4cff-bd76-99094457b6ae/08502867-cc44-4a12-80a2-3f0e5577767b.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Addressing Issues</h3>
                        </header>
                        <p>The Philippines is addressing environmental issues like air and ocean pollution, fostering increased community commitment to climate change, with more people joining coastal clean-up efforts in 2024.
                        </p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Present (2020-2024)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/92ebb4cb-359e-42c1-a577-c359e5a56cd8/75e9177e-8611-49ab-a133-ee4aa9f73cf4.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Renewable Solutions</h3>
                        </header>
                        <p>The government aims to significantly increase renewable energy generation, targeting a 35% share of total energy generation by 2030 under the National Renewable Energy Program (NREP).</p>
                        <ul class="actions">
                            <li><a href="/home/environmental" class="button">Future (2030)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
               <Libero />
            </div>
        </section>

</div>