---
import Libero from "./Libero.astro"
---

<section id="banner" class="style6">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/e0ac5e5e-3638-4178-b72c-a11fc4e1ed87/0598f9c2-9dab-4b19-96e2-7b6666bdae51.png" alt="" />
        </span>
        <header class="major">
            <h1>Environmental</h1>
        </header>
        <div class="content">
            <p>This cultural shift showcases a nation awakening to the call of Mother Earth, each effort a testament to the collective power of informed, inspired individuals working towards a sustainable future.</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Environmental Awareness</h2>
                </header>
                <p>Philippine popular culture has increasingly embraced environmental issues, reflecting a growing awareness and concern among Filipinos.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/environmental/events" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/dd275e3b-37b7-4f97-a372-81a6062de63e/afe506e2-7c54-4e0f-9698-555ed6b1216e.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Key Events & Highlights</h3>
                        </header>
                        <p>Philippine popular culture has embraced environmentalism, promoting a growing ecological consciousness. Each Earth Day, communities plant trees, clean coastlines, and launch campaigns. Hashtags like #SaveOurPlanetPH and #EcoWarriorsPH mobilize the masses. Environmental documentaries and schools integrate sustainability into their curriculums, nurturing eco-warriors.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental/events" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental/status" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/4e600a82-8aac-4abb-95cd-f87cc9125a0f/4109a030-24fe-4481-80ce-9e3ca566c441.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Status & Developments</h3>
                        </header>
                        <p>The government implements initiatives like the National Greening Program and local bans on single-use plastics. Corporate giants also embrace sustainable practices, while grassroots efforts champion mangrove reforestation and coastal clean-ups.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental/status" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/environmental/trends" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/3971bdab-73c4-4782-a378-112a2ca6cdb7/11829f63-2850-49a2-b346-9a4084b5b623.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Observable Trends</h3>
                        </header>
                        <p>Environmental themes are permeating music, art, and literature, reflecting a society increasingly attuned to the planet's plight. A new narrative is being written, promoting awareness, action, and hope for a sustainable future.</p>
                        <ul class="actions">
                            <li><a href="/home/environmental/trends" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>