---
import Libero from "./Libero.astro"
---

<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>Discover the Heartbeat of the Philippines</h1>
        </header>
        <div class="content">
            <p>Journey through the rich history and dynamic expressions of Filipino culture that resonate across generations.</p>
            <ul class="actions">
                <li><a href="#one" class="button next scrolly">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one" class="tiles">
            <article>
                <span class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/6aa551e3-6ec8-4994-b09a-5d9cabf4ab27/c2ce2ac3-4a25-4b9b-9341-44e59930d2f3.png" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/home/political" class="link">Political</a></h3>
                    <p>Democracy and Governance</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/692ea1db-3c15-483a-b1aa-173d9fe0b7a6/6a09f498-dcc6-45f1-9e32-f67938e035d8.png" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/home/social" class="link">Social</a></h3>
                    <p>Society and Community</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/555526d6-773e-452e-9137-bf4adb41c11d/a4efedca-8dec-45bf-a4ed-4df9fe234c37.png" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/home/cultural" class="link">Cultural</a></h3>
                    <p>Heritage and Identity</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/d1e13956-c477-42b2-9564-aed146692407/1291791c-9b11-4919-815f-ee8e311c9a89.png" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/home/economic" class="link">Economic</a></h3>
                    <p>Emerging Market Potential</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/6007e488-f798-4032-af64-f428788d5161/a62d8f24-0ce6-4a61-bb41-5d504b08fea1.png" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/home/legal" class="link">Technological/Legal</a></h3>
                    <p>Innovation and Regulation</p>
                </header>
            </article>
            <article>
                <span class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/e0ac5e5e-3638-4178-b72c-a11fc4e1ed87/0598f9c2-9dab-4b19-96e2-7b6666bdae51.png" alt="" />
                </span>
                <header class="major">
                    <h3><a href="/home/environmental" class="link">Environmental</a></h3>
                    <p>Biodiversity and Conservation</p>
                </header>
            </article>
        </section>
        

    <!-- Two -->
        <section id="two">
            <div class="inner">
               <Libero />
            </div>
        </section>

</div>