---
import Libero from "./Libero.astro"
---


<section id="banner" class="style5">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/9db9f83a-ad1a-412a-82d0-8a69bc62575b/92829da3-ab2b-42ad-9b26-a503807cef04.png" alt="" />
        </span>
        <header class="major">
            <h1>Technological/Legal</h1>
        </header>
        <div class="content">
            <p>Philippine Popular Culture (PPC) is a dynamic and evolving landscape influenced by various legal frameworks, including intellectual property rights, media regulations, and cultural heritage laws. These legal norms shape the production, distribution, and consumption of cultural content, ensuring that creators' rights are protected while promoting cultural diversity and accessibility.</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Innovation and Regulation</h2>
                </header>
                <p>Philippine Popular Culture (PPC) encompasses a wide range of cultural expressions, including music, film, television, literature, and digital media. The legal landscape governing PPC is complex and multifaceted, involving various laws and regulations that aim to balance the interests of creators, consumers, and the state. Intellectual property rights, such as copyright and trademark laws, play a crucial role in protecting the rights of artists and creators, ensuring they receive fair compensation for their work. Media regulations, including broadcasting and content standards, ensure that cultural content is produced and distributed responsibly, promoting ethical standards and preventing harmful content. Cultural heritage laws protect traditional and indigenous cultural expressions, preserving the country's rich cultural heritage for future generations. These legal frameworks collectively shape the production, distribution, and consumption of cultural content, fostering a vibrant and diverse cultural landscape in the Philippines.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="#" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/5d8936a4-4440-44fa-be00-e4b0e7209ebc/6f3ea0f8-89cd-446b-957d-4b1ddaff1e76.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Key Events & Highlights</h3>
                        </header>
                        <p><strong>Past:</strong> 
                            The Launch of 3G Technology (2005): The introduction of 3G technology in the Philippines changed mobile communication by providing quicker internet access and better connectivity. This led to the popular use of smartphones and mobile internet.
                        </p>
                        <p>
                            <strong>Present:</strong> The pandemic has accelerated the adoption of digital platforms for education and government services, leading to a surge in online learning and cybersecurity.
                        </p>
                        <p>
                            <strong>Future:</strong> The reform of environmental laws is expected to result in enhanced legal frameworks that promote environmental protection and sustainable development.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/5d274bb9-1b49-4fef-b91d-353667409c4c/286d19f0-e1e1-45e7-917b-ec7087523e55.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Status & Developments</h3>
                        </header>
                        <ul>
                            <p>Technology</p>
                            <li>Past: The Anti-Cybercrime Law (RA 10175) was passed in September 2012, following talks in the late 2000s about online safety and governance. This law was designed to prevent cybercrimes and protect user information. It emphasized the importance of laws that tackle the issues brought by changing digital technologies, shaping discussions on internet freedom and privacy rights.</li>
                            <li>Present: Changes to the Data Privacy Act of 2012 show a commitment to protecting people in our digital world. As more information is shared and handled online, it is crucial to have laws that support privacy rights to keep public trust in technology strong.
                            </li>
                            <li>Future:  AI technologies will likely be utilized in legal institutions to enhance data processing and decision-making related to environmental cases.</li>
                        </ul>
                        <ul>
                            <p>Space</p>
                            <li>Past: The laws governing urban development started to change, but technology played a minor role. GIS tools for planning were just beginning to emerge, while initial laws aimed at protecting heritage sites focused on cultural properties.</li>
                            <li>Present: The laws governing urban development started to change, but technology played a minor role. GIS tools for planning were just beginning to emerge, while initial laws aimed at protecting heritage sites focused on cultural properties.</li>
                            <li>Future: As technology advanced, urban planning began to incorporate tools like GIS and digital mapping. Laws such as the National Cultural Heritage Act of 2009 were put into action, providing improved protection for cultural sites and areas.</li>
                        </ul>
                        <ul>
                            <p>Globalization</p>
                            <li>Past: The rise of the internet changed the way people enjoyed and shared popular culture. With more access to media online, piracy became a big issue, sparking conversations about intellectual property rights. During this time, online forums and blogs emerged, allowing fans to discuss and review local entertainment.</li>
                            <li>Present: The growth of smartphones and social media also changed how content was made and shared. Legal rules about digital content and copyright faced challenges, leading to new talks on how to safeguard local creators in a more connected and digital environment.</li>
                            <li>Future:  Legal frameworks facilitating cooperation on transboundary environmental issues are expected to be strengthened, promoting collaborative approaches to climate justice.</li>
                        </ul>
                        <ul class="actions">
                            <li><a href="/technology" class="button">Technology</a></li>
                            <li><a href="/space" class="button">Space</a></li>
                            <li><a href="/globalization" class="button">Globalization</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/6007e488-f798-4032-af64-f428788d5161/a62d8f24-0ce6-4a61-bb41-5d504b08fea1.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Observable Trends</h3>
                        </header>
                        <p><strong>Past:</strong> The Philippines' mobile internet revolutionized communication in 2005, requiring regulations for cybersecurity and user privacy. The Anti-Cybercrime Law of 2012 emphasized these changes. The internet also transformed popular culture consumption, highlighting piracy issues and intellectual property rights debates.</p>
                        <p>
                            <strong>Present:</strong> The pandemic has accelerated the use of digital platforms for education, government services, and payments, highlighting cybersecurity concerns. The Data Privacy Act of 2012 protects privacy rights, while urban planning and cultural heritage legislation improve protection.
                        </p>
                        <p>
                            <strong>Future:</strong> The rapid advancement of technology in the Philippines has significantly influenced popular culture, leading to debates on intellectual property, piracy, and digital rights.
                        </p>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>