<header class="major">
  <h2>Explore Our Blog Sections</h2>
</header>
<p>
  At the Digital Filipino Frontier, we believe in the power of dialogue and
  education to foster a deeper understanding of critical issues facing our
  society. ​Our blog serves as a platform for insightful articles, discussions,
  and resources related to environmental awareness, diversity, and equality.​ We
  invite you to dive into these essential topics
</p>
<ul class="actions">
  <li><a href="/home/blogs" class="button next">Get Started</a></li>
</ul>
