<ul class="links">
  <li><a href="/home">Home</a></li>
  <li><a href="/home/political">Political</a></li>
  <li><a href="/home/social">Social</a></li>
  <li><a href="/home/cultural">Cultural</a></li>
  <li><a href="/home/economic">Economic</a></li>
  <li><a href="/home/legal">Technological/Legal</a></li>
  <li><a href="/home/environmental">Environmental</a></li>
</ul>
<ul class="actions stacked">
  <li><a href="#" class="button primary fit">Blog</a></li>
  <li><a href="/" class="button fit">Origin</a></li>
</ul>
