---
import Libero from "./Libero.astro"
---


<section id="banner" class="style1">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/6aa551e3-6ec8-4994-b09a-5d9cabf4ab27/c2ce2ac3-4a25-4b9b-9341-44e59930d2f3.png" alt="" />
        </span>
        <header class="major">
            <h1>Political</h1>
        </header>
        <div class="content">
            <p>The Philippines, a nation grappling with political instability and corruption since 2000, aims to achieve economic growth, political stability, and sustainable development by 2030.</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Political Influences</h2>
                </header>
                <p>The Philippines faced instability and governance challenges from 2000 to 2010, with high corruption, public dissatisfaction, and armed conflicts. Today, the political environment is fraught with corruption and disinformation, complicating democratic processes. The country aims to be one of Southeast Asia's leading economies by 2030, focusing on political stability, anti-corruption measures, and sustainable development. Balancing economic growth with social equity is crucial for a resilient political framework.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/political/events" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/6a5d25a9-70b9-4a2a-9785-e765d22f7eda/fe2d0dac-1c8b-413c-9035-0ca88dfd3821.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Key Events & Highlights</h3>
                        </header>
                        <p>The Philippines' political and popular culture relationship is influenced by historical legacies, government actions, and societal resistance. As society adapts to digitality, this interplay is expected to evolve.</p>
                        <ul class="actions">
                            <li><a href="/home/political/events" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/political/status" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/9db9f83a-ad1a-412a-82d0-8a69bc62575b/568114ac-24af-47ad-b885-abdee0431bc7.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Status & Developments</h3>
                        </header>
                        <p>Philippine popular culture is shaped by political events, technological advancements, spatial influences, and globalization, revealing the evolving identity and expression of the country, preserving its rich cultural heritage.</p>
                        <ul class="actions">
                            <li><a href="/home/political/status" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/political/trends" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/66554131-dbc5-41f9-b7df-60b502084f8b/91dd51a7-ebf0-4642-91f6-125506efa3f9.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Observable Trends</h3>
                        </header>
                        <p>Philippine popular culture, influenced by entertainment publics, celebrity culture, and digital media, is deeply intertwined with political definitions, challenging conventional understandings of citizenship and democracy in the country.</p>
                        <ul class="actions">
                            <li><a href="/home/political/trends" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>