---
import Libero from "./Libero.astro"
---

<section id="banner" class="style1">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/9db9f83a-ad1a-412a-82d0-8a69bc62575b/568114ac-24af-47ad-b885-abdee0431bc7.png" alt="" />
        </span>
        <header class="major">
            <h1>Status & Development</h1>
        </header>
        <div class="content">
            <p>Political</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Philippine popular culture is shaped by political events, technological advancements, spatial influences, and globalization, revealing the evolving identity and expression of the country, preserving its rich cultural heritage.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/political" class="image">
                    <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjKxQG0qiq0_Iy5v3wsN4mDnvphl3y32rtdJcqW1zGPZXQIbPYN-GTuzS4Zq82shla2NgYhZjECtAxgr6VpH_EBot9Q8xSZ-hgHc_oUxL6dyUjhuemX48uDkq9m9jWLWeCAL6YQr_xdnbM/s1600/edsa-revolution-dos.jpg" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>ICT During EDSA 2</h3>
                        </header>
                        <p>The 2001 EDSA Revolution II in the Philippines, sparked by corruption allegations, demonstrated the power of collective action and mass mobilization through technology, highlighting its growing influence in political activism.</p>
                        <ul class="actions">
                            <li><a href="/home/political" class="button">Past (2000-2010) | Technology</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/political" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/03847f1a-78c0-41e3-a80d-d06ec54dc1e4/025b0466-0e58-4f81-bc94-2facd5440d25.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>National Land Use Act</h3>
                        </header>
                        <p>The conversation in politics moved towards stronger urban planning and land use strategies. The 2011 National Land Use Act sought to create a complete plan for managing land, stressing the importance of sustainable development in the face of urban growth.</p>
                        <ul class="actions">
                            <li><a href="/home/political" class="button">Present (2020-2024) | Space</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/political" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/647416f7-1cf9-45ed-a6c4-ede23d5357e3/6c1b8c5c-8ff6-4e6f-8022-cf84f0730e43.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Global Partnership</h3>
                        </header>
                        <p>The Philippines is expected to strengthen its ties with global partners through trade agreements and cultural exchanges, enhancing its role in the ASEAN region and beyond.</p>
                        <ul class="actions">
                            <li><a href="/home/political" class="button">Future (2030) | Globalization</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
               <Libero />
            </div>
        </section>

</div>

<!-- 
FB Social
https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/a47229c0-700d-4826-b590-83f7bf13a979/7689a6d2-4e77-473e-b75b-8f804cc50dd1.png
-->