---
import Libero from "./Libero.astro"
---

<section id="banner" class="style1">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/66554131-dbc5-41f9-b7df-60b502084f8b/91dd51a7-ebf0-4642-91f6-125506efa3f9.png" alt="" />
        </span>
        <header class="major">
            <h1>Observable Trends</h1>
        </header>
        <div class="content">
            <p>Political</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Philippine popular culture, through various forms, influences the country's political landscape, shaping public opinion and engagement. It includes protest music, films, and television narratives, highlighting the country's complexities and societal concerns.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/political" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/bca3226f-06e1-4a67-b904-c49dca59dc24/0270ba2b-65fd-492a-9935-ff8bfe202937.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Effects of Global Finacial Crisis</h3>
                        </header>
                        <p>The 2008 Global Financial Crisis slowed Philippine economic growth and increased unemployment, prompting government stabilization. BPO sector growth, urban development, and global media exposure boosted employment and the economy, while also raising concerns for local businesses.</p>
                        <ul class="actions">
                            <li><a href="/home/political" class="button">Past (2000-2010)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/political" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/1de4a307-14e8-4a21-ac10-6a554f139599/4d243aeb-b153-4aa1-bb01-bb1d1e0c96b1.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Usage of Tech in Political Activities</h3>
                        </header>
                        <p>The Anti-Terrorism Act of 2020 and the 2022 Philippine National Elections highlighted the growing use of technology in political campaigns, with social media becoming a key tool for voter engagement and education. The 2011 National Land Use Act and digital activism demonstrate the transformative power of technology in politics.</p>
                        <ul class="actions">
                            <li><a href="/home/political" class="button">Present (2020-2024)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/political" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/5b5451f0-ef0d-425b-8549-bbd5b67d5d8a/53d91846-ea9f-47bd-a1c8-4143d244b00e.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Continuous Effects of the Past</h3>
                        </header>
                        <p>The 2008 Global Financial Crisis and the 2020 Anti-Terrorism Act significantly influenced Philippine culture, driving economic shifts, urban development, and entertainment industry changes, involving government intervention and technology.</p>
                        <ul class="actions">
                            <li><a href="/home/political" class="button">Future (2030)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>