---
import Libero from "./Libero.astro"
---

<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/cc61f915-cbc1-4972-ac71-54df45cd54e4/d30ace78-0e6e-4e3e-a3b4-32489784b354.png" alt="" />
        </span>
        <header class="major">
            <h1>Key Events & Highlights</h1>
        </header>
        <div class="content">
            <p>Social</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Analyzing the social perspectives within PPC reveals a complex interplay between tradition and modernity, with elements anchored in cultural heritage and a growing embrace of global influences.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/75f38b44-1c35-4b52-bc64-ecf6ce247041/4f937a14-a549-449c-b522-05c1207edcf7.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Growth of Social Media</h3>
                        </header>
                        <p>In the early 2000s, social media sites like Friendster and Multiply gained popularity in the Philippines. These platforms helped people connect and share their experiences, creating a more connected community.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Past (2000-2010)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/3b30c0f1-371c-439f-b65b-a680aa4826a7/b47c8e45-b0b1-4415-9272-b82c0a97971e.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>The Rise of Digital Learning</h3>
                        </header>
                        <p>The pandemic accelerated the adoption of digital learning platforms in the Philippines. Schools and universities have increasingly integrated online education, making learning more accessible to students across the country.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Present (2020-2024)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/bc3db83e-65a7-48ca-812f-7ddc1b628c90/2024-08-09T17:52:02.211Z.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Emerging Technologies</h3>
                        </header>
                        <p>Emerging technologies, such as AR in retail and social commerce, will redefine how consumers interact with cultural products, driving trends in experiential marketing and consumption.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Future (2030)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
               <Libero />
            </div>
        </section>

</div>