---
import Libero from "./Libero.astro"
---

<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/692ea1db-3c15-483a-b1aa-173d9fe0b7a6/ec200d09-ea42-4342-9e57-57a7b8aa4703.png" alt="" />
        </span>
        <header class="major">
            <h1>Observable Trends</h1>
        </header>
        <div class="content">
            <p>Social</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Analyzing the social perspectives within PPC reveals a complex interplay between tradition and modernity, with elements anchored in cultural heritage and a growing embrace of global influences.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/75f38b44-1c35-4b52-bc64-ecf6ce247041/4f937a14-a549-449c-b522-05c1207edcf7.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Societal Interaction</h3>
                        </header>
                        <p>In the early 2000s, social media and entertainment platforms in the Philippines significantly impacted societal interactions and community involvement. Facebook's rise revolutionized personal and social engagement, facilitating discussions on social issues, politics, and entertainment. Reality TV shows and talent competitions promoted shared cultural experiences.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Past (2000-2010)</a></li>
                        </ul>    
                       
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/daa6c3f1-ce49-4e1f-a664-7fd0fc1ca831/ac6e79f9-f06e-404a-bc20-469366f5c955.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>COVID-19</h3>
                        </header>
                        <p>The pandemic has accelerated digital learning and remote work in the Philippines, making education more accessible and highlighting the importance of digital skills in the modern economy. Social media and globalization have influenced local and global social identities.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Present (2020-2024)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/f5e9905d-cd35-4de6-bd2a-565b59b135bf/da09fb18-b77a-4517-9358-8ab0955f6500.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Digital Adoption</h3>
                        </header>
                        <p>Social media and entertainment platforms in the Philippines have significantly impacted societal interactions, community involvement, and cultural landscape, with the pandemic accelerating digital adoption and shaping Filipino youth's identities.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Future (2030)</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>