---
import Libero from "./Libero.astro"
---

<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/051ff96a-eec0-4989-944a-9e8a2c8c746c/24ac4833-267d-4d25-ae09-ab8f9fd9de76.png" alt="" />
        </span>
        <header class="major">
            <h1>Status & Development</h1>
        </header>
        <div class="content">
            <p>Social</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Description</h2>
                </header>
                <p>Analyzing the social perspectives within PPC reveals a complex interplay between tradition and modernity, with elements anchored in cultural heritage and a growing embrace of global influences.</p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/2480ecef-8181-4614-912a-5d15008ad646/88e73c02-90ae-45c9-92cc-ea5bbe4e69f8.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Remote Works</h3>
                        </header>
                        <p>Remote work and education in the Philippines are transforming traditional methods, necessitating the development of digital skills for economic success.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Present (2020-2024) | Technology</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social" class="image">
                    <img src="https://api.easy-peasy.ai/storage/v1/object/public/images/50cf23fb-6b1e-4e84-a892-cf48f9d7b51c/50cf23fb-6b1e-4e84-a892-cf48f9d7b51c_2024-10-08T07:01:35.488Z.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Save Manila Bay</h3>
                        </header>
                        <p>Grassroots movements, such as "Save Manila Bay," promote cultural and historical preservation, fostering community involvement and public space appreciation, ultimately fostering local identity and pride.</p>
                        <ul class="actions"> 
                            <li><a href="/home/social" class="button">Present (2020-2024) | Space</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/4d756036-c286-4af8-b6f7-b53f5021c8ac/3ba7d66c-2b4e-4ae7-a7e3-39854aff63cc.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Global Tech Hub</h3>
                        </header>
                        <p>The Philippines may become a hub for innovation and technology, attracting foreign investments and fostering economic growth.</p>
                        <ul class="actions">
                            <li><a href="/home/social" class="button">Future (2030) | Globalization</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
               <Libero />
            </div>
        </section>

</div>

