---
import Libero from "./Libero.astro"
---


<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/692ea1db-3c15-483a-b1aa-173d9fe0b7a6/6a09f498-dcc6-45f1-9e32-f67938e035d8.png" alt="" />
        </span>
        <header class="major">
            <h1>Social</h1>
        </header>
        <div class="content">
            <p>Analyzing the social perspectives within PPC reveals a complex interplay between tradition and modernity, with elements anchored in cultural heritage and a growing embrace of global influences.</p>
        </div>
    </div>
</section>

<!-- Main -->
<div id="main">

    <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h2>Social Dynamics</h2>
                </header>
                <p>Philippine Popular Culture (PPC) is a reflection of the social norms, situations, and perspectives that shape Filipino society. It encompasses various forms of media, including television, film, music, literature, and digital content, which serve as mirrors to the evolving identity and values of the Filipino people. Social norms within PPC are deeply rooted in Filipino traditions and values, such as family loyalty, community solidarity, respect for elders, and religious devotion. In recent years, there has been a noticeable shift towards inclusivity, with diverse identities, including LGBTQ+ individuals, becoming more prominent in films and television shows.
                </p>
            </div>
        </section>
       
    <!-- Two -->
        <section id="two" class="spotlights">
            <section>
                <a href="/home/social/events" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/cc61f915-cbc1-4972-ac71-54df45cd54e4/d30ace78-0e6e-4e3e-a3b4-32489784b354.png" alt="" data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Key Events & Highlights</h3>
                        </header>
                        <p>From 2000 to 2010, reality TV shows and local film festivals captivated audiences with their portrayals of everyday life and sparked discussions about privacy and celebrity culture. The pandemic has accelerated digital content consumption, and international festivals have highlighted local storytelling. Collaboration between local creators and international platforms could expand Filipino narratives globally.</p>
                        <ul class="actions">
                            <li><a href="/home/social/events" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social/status" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/051ff96a-eec0-4989-944a-9e8a2c8c746c/24ac4833-267d-4d25-ae09-ab8f9fd9de76.png" alt="" data-position="top center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Status & Developments</h3>
                        </header>
                        <p>PPC has seen a shift towards inclusivity in media representation, highlighting LGBTQ+ stories. From 2020-2024, digital content creation is increasing, with younger generations using platforms like YouTube for storytelling. Indigenous cultures are being recognized, and by 2030, PPC is expected to embrace technological innovations like virtual reality and augmented reality.</p>
                        <ul class="actions">
                            <li><a href="/home/social/status" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <a href="/home/social/trends" class="image">
                    <img src="https://fdczvxmwwjwpwbeeqcth.supabase.co/storage/v1/object/public/images/692ea1db-3c15-483a-b1aa-173d9fe0b7a6/ec200d09-ea42-4342-9e57-57a7b8aa4703.png" alt="" data-position="25% 25%" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>Observable Trends</h3>
                        </header>
                        <p>Between 2000-2010, Filipino arts experienced a resurgence, with folk dances and crafts blending into modern performances. From 2020-2024, digitalization dominates, with streaming services dominating viewership. Mental health awareness is growing, reflecting societal shifts. By 2030, sustainability in film and music industries may be a trend.
                        </p>
                        <ul class="actions">
                            <li><a href="/home/social/trends" class="button">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

    <!-- Three -->
        <section id="three">
            <div class="inner">
                <Libero />
            </div>
        </section>

</div>