---
import Head from "../components/eventually/Head.astro";
import Header from "../components/eventually/Header.astro";
import Footer from "../components/eventually/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={ SITE_TITLE } description={ SITE_DESCRIPTION } />
  </head>
  <body class="is-preload">
    <Header />
    <main style="margin-bottom: 4rem;">
      <div>
        <ul class="icons">
          <li>
            <a href="/home"><button class="button">Main Museum</button></a>
          </li>
        </ul>
        <ul class="icons">
          <li>
            <a href="/home/social"><button class="button">Social</button></a>
          </li>
          <li><a href="/home/economic"><button class="button">Economic</button></a></li>
          <li>
            <a href="/home/cultural"
              ><button class="button">Cultural</button></a>
          </li>
        </ul>
        <ul class="icons">
          <li>
            <a href="/home/environmental"><button class="button">Environmental</button></a>
          </li>
          <li><a href="/home/political"><button class="button">Political</button></a></li>
          <li>
            <a href="/home/legal"
              ><button class="button">Technological/Legal</button></a>
          </li>
        </ul>
        <ul class="icons">
          <li>
            <a href="/technology"><button class="button">Technology</button></a>
          </li>
          <li><a href="/space"><button class="button">Space</button></a></li>
          <li>
            <a href="/globalization"
              ><button class="button">Globalization</button></a>
          </li>
        </ul>
      </div>
    </main>
    <footer id="footer">
      <Footer />
    </footer>
    <script src="../scripts/eventually/main.js"></script>
    <script>
      addEventListener('load', () => {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/sw.js')
            .then(() => console.log('Service Worker Registered'))
            .catch(err => console.error('Service Worker Registration Failed', err));
        }
      });
    </script>
  </body>
</html>
